<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <h3>Hello <span th:text="${userName}">User</span>,</h3>
    <p>
      We regret to inform you that your movie ticket order
      <b>#<span th:text="${bookingId}"></span></b> has been cancelled.
    </p>
    <p>Reason: <b th:text="${reason}"></b></p>

    <div th:if="${isVoucher}">
      <p>
        The amount of
        <b
          ><span
            th:text="${#numbers.formatDecimal(refundAmount, 0, 'COMMA', 0, 'POINT')}"
          ></span>
          VND</b
        >
        has been refunded to your Voucher Wallet.
      </p>
      <p>
        You can view your voucher in <b>"My Vouchers"</b> section on CineHub
        website or visit our theater counter to book a new showtime.
      </p>
    </div>

    <div th:if="${isCounter}">
      <p>
        <b>Note:</b> Since you booked as a guest (not logged in), we cannot
        automatically refund a voucher.
      </p>
      <p>
        Please bring your booking code or this email to the nearest CineHub
        theater counter for assistance with booking a new showtime or receiving
        a refund:
        <b
          ><span
            th:text="${#numbers.formatDecimal(refundAmount, 0, 'COMMA', 0, 'POINT')}"
          ></span>
          VND</b
        >.
      </p>
    </div>

    <p>CineHub apologizes for any inconvenience.</p>
  </body>
</html>
